/* Nav Section */
.nav-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.slider {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
}

.slide-heading-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.slide-heading {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 5%;
  text-align: center;
}

.explore-btn {
  background-color: transparent;
  color: #00bcd4;
  border: 2px solid #00bcd4;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background-color: #00bcd4;
  color: #fff;
}

.slide-content {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0;
}

.slider-button {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: 4px solid #009ca6;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Home Zero Section or  */

.home-zero {
  padding: 5%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #69bd45;
}

.home-zero-heading {
  font-size: 2rem;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #000;
}

.home-zero-card {
  width: 100%;
  border-radius: 1rem;
  padding: 2%;
  margin-top: 2.5%;
  border: 2px solid transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-zero-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card-heading {
  font-size: 1.5rem;
  color: #1e293b;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-description {
  font-size: 1rem;
  color: #555;
  font-family: "Arial", sans-serif;
  margin-bottom: 1.5rem;
}

.home-zero-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.home-zero-list-item {
  font-size: 0.8rem;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-zero-list-item:hover {
  background-color: #dce7f3;
  transform: translateY(-2px);
  cursor: pointer;
}

/* Home One Section */

.home-one {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 4%;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 2px solid #2989ca;
}

.home-one-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  transition: transform 0.5s ease;
  transition: transform 0.8s ease-in-out;
  will-change: transform;
  width: fit-content;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-one-card img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.home-one .slick-slide {
  padding: 0 12px;
  box-sizing: border-box;
}

.home-one .slick-list {
  margin: 0 -12px;
}

/* Home Text Section */
.home-text {
  width: 100%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #eb2128;
}

.home-text-content {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: #2989ca 5px solid;
}

.home-text-content p {
  font-size: 1rem;
  color: #222;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}

/* Home Two Section */

.home-two {
  padding: 4%;
  padding-top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #000;
}

.home-two-con {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.home-two-card {
  width: 23%;
  height: 60vh;
  margin: 1%;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.home-two-card:hover {
  transform: scale(1.03);
}

.home-two-heading {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

/* About Us Section */

.about-us-section {
  padding: 4%;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about-us-section p {
  font-size: 1.2rem;
  color: #555;
  font-weight: 1000;
  margin-bottom: 1.5rem;
}

.about-us-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: "center";
  gap: 1.5rem;
  margin-top: 3rem;
}

.about-us-stats-card {
  padding: 1%;
  border-radius: 12px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 30vh;
}

.about-us-stats-card h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 5%;
}

.about-us-stats-card p {
  font-size: 1.2rem;
  color: #000;
  margin: 0;
}
